.header-colored {

    background-color: $dark21;

    &::after {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0; 
        right: 0;

        background-image: url(../img/backgrounds/header-right.svg);
        background-position-x: right;
        background-position-y: top;
        background-repeat: no-repeat; 
        background-size: auto;

        width: 95px;
        height: 142px;
    }

    &::before { 
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-image: url(../img/backgrounds/header-left.svg);
        background-position-x: left;
        background-position-y: top;
        background-repeat: no-repeat; 
        background-size: auto;

        width: 130px;
        height: 142px;

    }
}
.header {
    position: relative;
    padding-top: 13px;
    padding-bottom: 20px;


    min-height: 80px;
    
    &-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            position: relative;
            z-index: 1002;
            color: #fff;
        }
    } 
    .mobile-header {
        position: relative;
        z-index: 100;
        .mobile-search {
            display: none;
        }
    } 

    &-phones {
        position: relative;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 0;

        margin-bottom: 22px;

        &_item {
            
            margin-right: 50px;

            a {
                display: flex;
                align-items: center;
                &:hover {
                    span {
                        color: $yellow-primary;
                    }
                    .icon {
                        svg {
                            fill: $yellow-primary;
                        }
                    }
                }
            }
            .icon {
                width: 20px;
                height: 20px;
                margin-right: 4px;
                svg {
                    width: 100%;
                    height: 100%;
                    fill: #fff;
                    transition: $hover;
                }
            }
            span { 
                font-weight: 300;
                font-size: 16px;
                line-height: 19px; 
                color: #FFFFFF;
                transition: $hover;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-row {
        // position: relative;
        display: flex;
        align-items: center; 

        &_menu {
            display: flex;
            align-items: center;
            
            &__drop-down {
                margin-right: 24px;
                &_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    padding: 15px 40px;

                    color: $yellow-secondary;
                    border: 2px solid $yellow-secondary; 
                    border-radius: 25px;
                    cursor: pointer;
                    transition: $hover;

                    &:hover { 
                        color: $yellow-primary;
                        border-color: $yellow-primary;
                    }
                }
                &_menu {
                    position: absolute;
                    z-index: 1101;
                    top: calc(100% + 5px); 
                    left: 0;
                    right: 0;
                    left: calc(50% - 650px);
                    // right: -10px; 
                    max-width: 100vw;
                    width: 1305px;
                    visibility: hidden;  
                    opacity: 0;
                    background: #DDE6E8;
                    color: $dark21;
                    border-radius: 50px;
                    transition: $hover; 
                    transform: translateY(30px);
                }
                &_wrapper {
                    position: fixed;
                    z-index: 1100;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100vw;
                    height: 100vh;
                    
                    background: rgba(23, 23, 23, 0.65);
                    visibility: hidden;
                }
                &.show {
                    .header-row_menu__drop-down_menu, .header-row_menu__drop-down_wrapper { 
                        visibility: visible;  
                        opacity: 1;   
                    }
                    .header-row_menu__drop-down_menu, .header-row_menu__drop-down_wrapper {
                        transform: translateY(0px);
                    }
                }
                
            }
            margin-right: 33px;
            ul.small-menu {
                display: flex;
                align-items: center;
                li {                    
                    position: relative; 
                    margin-right: 30px;

                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px; 
                    color: #FFFFFF;
                    a {
                        transition: $hover;
                        &:hover {
                            color: $yellow-secondary;
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        right: -15px;
                        top: 0;
                        bottom: 0;
                        width: 1px;
                        height: 19px;
                        background-color: $yellow-primary;
                    }
                    &:last-child { 
                        margin-right: 0;
                        &::after { 
                            display: none;
                        }
                    }
                }
            }
        }

        &_search {
            position: relative;
            z-index: 1002;
            min-width: 267px;
            margin-right: 33px;
            .mobile-search, .search-wrap {
                display: none;
            }
            .input-button {
                input {  
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;  
                    color: #212121;
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
                        color: #DDE6E8;
                    }
                    &::-moz-placeholder { /* Firefox 19+ */ 
                        color: #DDE6E8;
                    }
                    &:-ms-input-placeholder { /* IE 10+ */ 
                        color: #DDE6E8;
                    }
                    &:-moz-placeholder { /* Firefox 18- */ 
                        color: #DDE6E8;
                    }
                }
                button { 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 0px;
                    right: -1px;
                    bottom: 0;
                    height: 100%;
                    width: 35px;
                    // height: 29px;
                    background-color: #fff;
                    border-radius: 0 10px 10px 0;
                    padding: 2px;
                    transition: $hover;
                    .icon { 
                        position: relative;
                        display: block;
                        width: 25px;
                        height: 25px; 
                    }
                    &:hover { 
                        background: $hover-light-btn;
                        .icon { 
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        &_cart {  
            position: relative;
            z-index: 1002;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 33px;
            a { 
                padding: 3px;
                border-radius: 5px; 
                border: 1px solid #00000000;
                transition: $hover;

                span {
                    display: none;
                }
                .icon { 
                    display: block;
                    width: 30px;
                    height: 30px;
                    svg { 
                        fill: #fff;
                        width: 100%;
                        height: 100%;
                        transition: $hover;
                    }
                }
                &:hover { 
                    border-color:  $yellow-primary;
                    svg { 
                        fill: $yellow-primary;
                    }
                }
            }
        }

        &_lang {  
            position: relative;
            z-index: 1002;
            background-color: $dark21;
            border-radius: 5px;
        }
    }
}

.header-row_menu__drop-down_menu .drop-menu {
    display: flex;
 
    ul {
        li { 
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 10px;
            &.title { 
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 23px;
            }
            &.large { 
                margin-top: 60px;
                font-size: 24px;
                line-height: 28px;
            }
            a {
                transition: 100ms ease;
                &:hover { 
                    color: $yellow-primary; 
                    color: #545454;
                    // font-weight: 500;
                }
            }
        }
    }
    &_categories {
        padding-top: 63px;
        padding-bottom: 53px;
        padding-left: 35px;
        padding-right: 40px;
        border-right: 1px solid $dark21;
        ul {
            li {
                margin-bottom: 30px;
                &.title {
                    font-weight: 500;
                    color: $yellow-primary;
                }
            }
        }
    }

    &_select-container {
        position: relative;
        min-height: 760px;
    }
    &_list { 
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        width: 100%;
        display: flex; 
        padding-top: 63px;
        padding-bottom: 53px;
        padding-right: 35px;
        padding-left: 32px; 
 
        display: none; 
        transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1); 
  
        &.show {
            z-index: 3; 
            display: flex; 
        }

        &-item { 
            max-width: 200px;
            padding-right: 30px;
            &.once-item {
                max-width: none;
            }
        }
    }

    
    
}



@media screen and (max-width: 1300px) {
    .header-row_menu__drop-down_menu {
        left: 0;
        right: 0;
        width: 100%;
    }
    .header {  
        .mobile-menu {
            .mobile-search {
                display: block;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .header-row  {
        justify-content: space-between;
        position: static;
        &_menu__drop-down_menu {
            left: 5px;
            right: 5px;
            width: calc(100% - 10px);
        }
        &_search {
            min-width: auto;
            
            .input-button {
                display: none;
            }
        }
    } 
    .header-row_menu__drop-down_menu .drop-menu_lists {
        flex-wrap: wrap;
        &-item { 
            margin-bottom: 10px;
        }

    } 
    .search-wrap {
        position: fixed;
        z-index: 1100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(23, 23, 23, 0.65);
        visibility: hidden;
        transition: 200ms ease;
        &.show {
            visibility: visible;
            opacity: 1;
        }

    }
    .search-form {
        position: fixed;
        z-index: 1101;
        top: 35%;
        left: calc(50% - 200px); 
        transform: translateY(10px);
        visibility: hidden;
        transition: $hover;
        &.show {
            transform: translateY(0px);
            visibility: visible;
            opacity: 1; 
        }
        .input-button {

            width: 100%;
            max-width: 400px;
            width: 400px;
            label {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                color: #fff;
                margin-bottom: 8px;
            }
            button { 
                display: flex;
                align-items: center;
                justify-content: center;
                top: auto;
                right: -1px;
                bottom: 0;
                height: 100%;
                width: 35px;
                height: 35px;
                background-color: #fff;
                border-radius: 0 10px 10px 0;
                padding: 2px;
                transition: $hover;
                .icon { 
                    position: relative;
                    display: block;
                    width: 25px;
                    height: 25px; 
                }
                &:hover { 
                    background: $hover-light-btn;
                    .icon { 
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .mobile-search {
        display: block;
        width: 38px;
        height: 38px;
        background: #eaeaea;
        border-radius: 5px;
        padding: 4px;
        cursor: pointer;
        .icon {
            display: block;
            width: 100%;
            height: 100%;
        }
        &:active { 
            background-color: $yellow-primary 
        }
    }
}

@media screen and (max-width: 992px) {
    .header-colored {
        &:after { 
            width: 75px;
            height: 100px;
        }
        &::before {
            width: 100px;
            height: 110px; 
            background-position: bottom left;
        }
    }
    
    .header { 
        padding-top: 20px;
        &-phones {
            display: none;
        }
        &-row {
            &_menu__drop-down_btn {
                position: relative;
                &.open {
                    &:after {
                        content: "Назад";
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        z-index: 2;
                        top: -2px;
                        left: -2px;
                        right: -2px;
                        bottom: -2px;
                        background: $yellow-secondary; 
                        color: $dark21;
                        border-radius: 25px;
                    }
                }
            }
        }
        .mobile-header {
            display: flex;
            align-items: center;
            justify-content: space-between; 
            .mobile-search {
                display: block;
                margin-right: 30px;
            } 
        }
        
        .mobile-menu-btn {
            display: flex;
            align-items: center; 
 
            width: 38px;
            height: 38px; 
            border-radius: 5px;
            padding: 5px;
            background: #eaeaea;
            i.icon { 
                background: $dark21;
                width: 23px;
                &::after, &::before {
                    width: 28px;
                }
            } 
            &:active { 
                background-color: $yellow-primary 
            }

        }
        .menu-wrapper {
            visibility: hidden;
            position: fixed;
            z-index: 1100;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; 
            background: rgba(23, 23, 23, 0.65); 
            transition: 200ms ease;
            &.show { 
                visibility: visible;
                opacity: 1;
            }
        }
        .mobile-menu {
            // display: none;
            position: fixed;
            z-index: 1101;
            top: 0;
            right: 0;
            bottom: 0;
            width: 80%;
            max-width: 380px;

            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            padding: 30px ;
            
            background-color: $dark21;
            transform: translateX(100%);
            transition: $hover;
            
            // overflow-y: scroll;

            
            .header-row { 
                &_menu  {
                    // position: relative;
                    width: 100%;
                    flex-direction: column;
                    align-self: center;
                    align-items: center;
                    margin-right: 0;
                    margin-bottom: 20px;
                    &__drop-down {
                        margin-right: 0;
                        margin-bottom: 20px;
                        width: 100%; 
                        &_menu {
                            // width: 380px;
                            // top: 55px;
                            // left: -30px; 
                            width: 100%;
                            top: 89px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            overflow-x: hidden;

                            border-radius: 0;
                            background: $dark21;
                            color: #fff;
                            .drop-menu {
                                width: auto;
                                &_lists {
                                    display: none;
                                }
                            }
                        }
                        &_wrapper { 
                            width: 100%;
                            background: none;
                        }
                    }
                    ul.small-menu {
                        flex-direction: column;
                        align-items: center;
                        li {
                            margin-right: 0;
                            margin-bottom: 20px;
                            text-align: center;
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
                &_search {
                    display: none;
                    // margin-right: 0;
                    // margin-bottom: 30px;
                    // width: 100%;
                    
                }
                &_cart { 
                    
                    align-self: center;
                    margin-right: 0;
                    margin-bottom: 40px;
                    width: 100%;
                    max-width: 150px;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-color: #fff;
                        padding: 5px 10px;
                        font-size: 16px;
                        width: 100%;
                        span { 
                            display: block;
                            color: #fff;
                            margin-right: 4px;
                        }
                    }
                }
                &_lang { 
                    align-self: center;
                    margin-right: 0;
                    margin-bottom: 20px;
                    width: 100%;
                    max-width: 150px;
                    text-align: center;
                }
                &_phones {
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    margin-top: 20px;
                    .header-phones_item { 
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
            &-open { 
                transform: translateX(0)
    
            }
        }
    }
    .header-row_menu__drop-down_menu {
        transition: 0 !important;
        .drop-menu {
            position: relative;
            &_select-container {
                position: absolute; 
                left: 100%;
                // left: 0;
                // visibility: hidden;
                min-height: auto;
                width: 100%;
            }
            &_list { 
                transition: $hover;
                background-color: $dark21;
                width: 100%;
                padding-top: 30px;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 100px;
    
                &.show {
                    transform: translateX(-100%);
                }
                &.main-list {
                    display: none !important;
                }
                &-item {
                    max-width: none;
                    padding-right: 0;
                    width: 100%;
                    .title {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start; 
                        margin-bottom: 15px;
                        i.icon {
                            align-self: flex-end;
                            width: 100%; 
                            display: flex;
                            align-items: center;
                            justify-content: flex-end; 
                            transition: $hover;
                            border-radius: 5px;
    
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 500;
                            font-style: normal;
    
                            padding-top: 10px;
                            padding-bottom: 10px;
                            margin-bottom: 20px;
                            user-select: none;
                            &::before {
                                content: '';
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 7.5px 10px 7.5px 0;
                                border-color: transparent  $yellow-primary transparent transparent; 
                                margin-right: 4px;
                            }
                            &:active {    
                                color: $yellow-primary;
                                &::before  {
                                    border-color: transparent  #fff transparent transparent;  
                                }
                            }
                        }
                    }
                    ul { 
                        li { 
                            margin: 0;
                            a {
                                display: block;
                                padding: 8px 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &_categories {
                width: 100%;
                padding-top: 30px;
    
                padding-left: 0;
                padding-right: 0;
    
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0; 
                        margin: 0;
    
                        border-top: 1px solid rgba(255, 255, 255, 0.08);
                        a {
                            width: 100%;
                            height: 100%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            padding-left: 30px;
                            padding-right: 15px;
                        }
                        &.title {
                            padding: 0 30px ;
                            border: 0;
    
                        }
                        i.icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 20px 30px;
                            transition: $hover;
                            border-radius: 5px;
                            &::after {
                                content: '';
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 6.5px 0 6.5px 15px;
                                border-color: transparent transparent transparent $yellow-primary; 
                            }
                            &:active {    
                                background: rgba(0, 0, 0, 0.652);
                            }
                        }
                        &:last-child {
                            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .header { 
        .menu-wrapper {
            display: none;
        }
        .mobile-menu {
            padding-top: 10px;
            width: 100vw;
            max-width: none;

            .header-row_menu__drop-down_menu {
                width: 100vw;
            }
        }
    }
    .header-row { 
        &_menu  {
            &__drop-down {
                &_mobile-close {   
                    padding-top: 10px;
                    padding-bottom: 20px;
                    width: 100%;
                    &:active {
                        span {
                            &::after, &::before {
                                background: $yellow-primary 
                            }
                        }
                    }
                    span {
                        display: block;
                        position: relative;
                        width: 50px;
                        height: 50px; 
                        overflow: hidden; 
                        border-radius: 100%;  
                        margin-left: auto;
                        margin-right: auto;

                        &::after { 
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: block;
                            content: '';
                            width: 68px;
                            height: 2px;
                            background: #fff; 
                            transform: translateX(2px) rotate(45deg);
                            transform-origin: top left;
                                
                        }
                        &::before { 
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: block;
                            content: '';
                            width: 69px; 
                            height: 2px;
                            background: #fff;  
                            transform: translateX(-2px) rotate(-45deg) ;
                            transform-origin: top right;
                        } 
                    }
                }
                &_menu {
                    width: 100vw;
                    .drop-menu {
                        ul {
                            li {
                                a {
                                    &:hover {
                                        color: inherit;
                                    }
                                    &:active {
                                        color: $yellow-primary
                                    }
                                }
                            }
                        }
                    }
                }
                &_btn {
                    max-width: 400px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    .search-form {
        width: 90vw;
        left: 5vw;
        right: 5vw;
        .input-button {
            width: 100%;
            max-width: 100%;
        }
    }
}
@media screen and (min-width: 992px) {
    .header { 
        .mobile-menu-btn {
            display: none;
        }
        .mobile-menu {
            display: flex;
        }
        &-row_phones {
            display: none;
        }
        &-row_menu__drop-down_menu .drop-menu {
            
            &_categories {
                min-width: 230px;
            }
            ul li.title i {
                display: none;
            }
        }
    } 
}
@media screen and ( min-width: 1200px) {
    .header {  
        .mobile-menu {
            .mobile-search {
                display: none;
            }
        }
        .search-wrap, .search-form {
            display: none;
        }
    }
} 
